# Ignore .env file containing sensitive data (like API keys)
.env
/backend/.env

# Ignore the virtual environment directory (for Python projects)
venv/

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store
